<launch>
    <!-- Launch Movement -->
    <include file="$(find search)/launch/hazard_search.launch" />

    <!-- Launch Explore Lite -->
    <include file="$(find explore_lite)/launch/explore.launch" />

    <!-- Launch Path Tracker -->
    <include file="$(find search)/launch/path.launch" />

</launch>
