<launch>
    <!-- Launch Movement -->
    <include file="$(find search)/launch/hazard_search.launch" />

    <!-- Launch Object Recognition -->
    <!-- <include file="$(find search)/launch/vision.launch" /> -->

    <!-- Launch Explore Lite -->
    <include file="$(find explore_lite)/launch/explore.launch" />

    <!-- Launch Path Tracker -->
    <include file="$(find search)/launch/path.launch" />

    <!-- Launch Ending Segment -->
    <include file="$(find search)/launch/ending.launch" />

</launch>
